
@import url('node_modules/normalize.css/normalize.css');

/* Fonts: Merriweather */
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-light-webfont.eot");
    src: url("fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-light-webfont.woff") format("woff"),
         url("fonts/merriweather-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-bold-webfont.eot");
    src: url("fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-bold-webfont.woff") format("woff"),
         url("fonts/merriweather-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-bolditalic-webfont.eot");
    src: url("fonts/merriweather-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-bolditalic-webfont.woff") format("woff"),
         url("fonts/merriweather-bolditalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-lightitalic-webfont.eot");
    src: url("fonts/merriweather-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-lightitalic-webfont.woff") format("woff"),
         url("fonts/merriweather-lightitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

* {
  box-sizing: border-box;
}
body {
  background: #eee;
  padding-bottom: 50px;
}
header {
  /*background: #40673f;*/
  background: #434343;
  border-top: 10px solid #fff;
}
header h1, header p.title {
  color: #fffdfa;
  text-align: center;
  font-size: 32px;
  padding-top: 60px;
  /*text-shadow: 3px 3px 0px #bc4300;*/
  text-transform: uppercase;
  border-bottom: 2px solid #FFF;
  margin: 0;
  border-top: 1px solid #bc4300;
}
header p.subtitle {
  /*color: #7FCC7D;*/
  /*color: #f73;*/
  /*color: #eee5de;*/
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-bottom: 120px;
  font-weight: normal;
  /*text-shadow: 2px 2px 0px #142013;*/
  letter-spacing: 2px;
  margin: 0;
  /*font-style: normal;*/
  /*text-indent: 300px;*/
  /*margin-top: -20px;*/
  text-transform: uppercase;
}
.subpage header h1, .subpage header p.title {
  padding-top: 16px
}
.subpage header p.subtitle {
  padding-bottom: 32px;
}
.subpage nav {
  margin-bottom: 16px;
}
.subpage nav a {
  text-align: right;
}
h1, p.title, p.subtitle, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  /*font-stretch: condensed;*/
  /*font-style: italic;*/
  font-weight: 300;
  letter-spacing: 0.2em;
  /*text-transform: uppercase;*/
  text-align: center;
  text-transform: uppercase;
}
nav {
  background: #fff;
  border-top: 1px solid #bc4300;
  border-bottom: 1px solid #bc4300;
  margin-bottom: 60px;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  justify-content: space-around;
}
nav li {
  display: block;
  flex: 1;
}
nav a {
  font-family: "Open Sans", Helvetica, sans-serif;
  /*font-stretch: condensed;*/
  font-weight: 300;
  text-transform: uppercase;
  color: #bc4300;
  /*text-shadow: 1px 1px 0px #7a5f52;*/
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  padding: 10px 0;
  text-align: center;
}
nav a:hover {
  background: #434343;
  color: #fff;
  /*text-shadow: 1px 1px 0px #cc4500;*/
}

body > section, body > article {
  padding: 0 10px;
  margin: 0 auto 120px auto;
  max-width: 900px;
}
section h2 {
  color: #bc4300;
  /*text-shadow: 1px 1px 0px #fff;*/
}
section:target h2 {
  color: #cc4500;
}
article h1 {
  color: #cc4500;
  text-shadow: 1px 1px 0px #fff;
}
section, article {
  font-family: Merriweather, serif;
  line-height: 1.6;
}
dfn {
  font-weight: bold;
}
a {
  color: #cc4500;
}
code {
  color: darkorange;
  background: white;
}
dt {
  font-weight: bold;
}
dt a {
  text-decoration: none;
}
dd {
  margin: 0 0 30px 16px;
}
footer {
  font-family: "Open Sans";
  /*font-stretch: condensed;*/
  font-weight: 300;
  font-size: 16px;
  background: #434343;
  border-top: 1px solid #bc4300;
  /*border-bottom: 1px solid #852d00;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}
footer p {
  max-width: 900px;
  padding: 14px 10px;
  margin: 0 auto;
  text-align: center;
}
footer a {
  color: white;
}
footer img {
  vertical-align: -4px;
  background: white;
  border-radius: 3px;
  padding: 1px;
  box-sizing: content-box;
}
p.back {
  text-align: right;
}
p.back a {
  text-decoration: none;
}
