
@import url('node_modules/normalize.css/normalize.css');

/* Fonts: Merriweather */
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-light-webfont.eot");
    src: url("fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-light-webfont.woff") format("woff"),
         url("fonts/merriweather-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-bold-webfont.eot");
    src: url("fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-bold-webfont.woff") format("woff"),
         url("fonts/merriweather-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-bolditalic-webfont.eot");
    src: url("fonts/merriweather-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-bolditalic-webfont.woff") format("woff"),
         url("fonts/merriweather-bolditalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Merriweather";
    src: url("fonts/merriweather-lightitalic-webfont.eot");
    src: url("fonts/merriweather-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/merriweather-lightitalic-webfont.woff") format("woff"),
         url("fonts/merriweather-lightitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

* {
  box-sizing: border-box;
}
body {
  background: #eee5de;
}
header {
  /*background: #40673f;*/
  background: #49B2AC;
  border-top: 10px solid #cc4500;
}
header h1 {
  color: #fffdfa;
  text-align: center;
  font-size: 64px;
  padding-top: 60px;
  text-shadow: 3px 3px 0px #142013;
  margin: 0;
  border-top: 2px solid #852d00;
}
header p.subtitle {
  /*color: #7FCC7D;*/
  /*color: #f73;*/
  /*color: #eee5de;*/
  color: yellow;
  text-align: center;
  font-size: 26px;
  padding-bottom: 120px;
  font-weight: normal;
  text-shadow: 2px 2px 0px #142013;
  letter-spacing: 2px;
  margin: 0;
  /*font-style: normal;*/
  text-indent: 300px;
  margin-top: -20px;
}
h1, h2, h3, h4, h5, h6, p.subtitle {
  font-family: Futura, Helvetica, sans-serif;
  font-stretch: condensed;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
}
nav {
  background: #cc4500;
  border-top: 2px solid #852d00;
  border-bottom: 1px solid #852d00;
  margin-bottom: 120px;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  justify-content: space-around;
}
nav li {
  display: block;
  flex: 1;
}
nav a {
  font-family: Futura, Helvetica, sans-serif;
  font-stretch: condensed;
  font-weight: 800;
  text-transform: uppercase;
  color: #fffdfa;
  text-shadow: 1px 1px 0px #7a5f52;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  display: block;
  padding: 10px 0;
  text-align: center;
}
nav a:hover {
  background: #852d00;
  text-shadow: 1px 1px 0px #cc4500;
}

section {
  padding: 0 10px;
  margin: 0 auto 120px auto;
  max-width: 900px;
}
section h2 {
  color: #852d00;
  text-shadow: 1px 1px 0px #fff;
}
section:target h2 {
  color: #cc4500;
}
section p {
  font-family: Merriweather, serif;
  line-height: 1.6;
}
dfn {
  font-weight: bold;
}
