
@import url('node_modules/normalize.css/normalize.css');

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('fonts/Open-Sans-300italic/Open-Sans-300italic.eot');
  src: url('fonts/Open-Sans-300italic/Open-Sans-300italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('fonts/Open-Sans-300italic/Open-Sans-300italic.woff2') format('woff2'),
       url('fonts/Open-Sans-300italic/Open-Sans-300italic.woff') format('woff'),
       url('fonts/Open-Sans-300italic/Open-Sans-300italic.ttf') format('truetype'),
       url('fonts/Open-Sans-300italic/Open-Sans-300italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('fonts/Open-Sans-600italic/Open-Sans-600italic.eot');
  src: url('fonts/Open-Sans-600italic/Open-Sans-600italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('fonts/Open-Sans-600italic/Open-Sans-600italic.woff2') format('woff2'),
       url('fonts/Open-Sans-600italic/Open-Sans-600italic.woff') format('woff'),
       url('fonts/Open-Sans-600italic/Open-Sans-600italic.ttf') format('truetype'),
       url('fonts/Open-Sans-600italic/Open-Sans-600italic.svg#OpenSans') format('svg');
}


* {
  box-sizing: border-box;
}
body {
  background: #fff;
  padding-bottom: 50px;
  color: #434343;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/*
  - strong -
  orange: #f39621
  pink: #f32196
  red: #f32121
*/
header {
  background: #f32121;
  box-shadow: 0 2px 2px #434343 inset, 0 -1px 2px rgba(102, 102, 102, .5) inset;
  border-bottom: 1px solid #434343;
  margin-top: 10px;
}
header h1, header p.title {
  color: #fffdfa;
  text-align: center;
  font-size: 36px;
  padding-top: 60px;
  text-transform: uppercase;
  border-bottom: 2px solid #FFF;
  margin: 0;
  border-top: 1px solid #c45050;
  max-width: none;
  letter-spacing: 0.4em;
}
header p.subtitle {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0 auto;
  text-transform: uppercase;
}
.subpage header h1, .subpage header p.title {
  padding-top: 32px
}
.subpage header p.subtitle {
  padding-bottom: 16px;
}
.subpage nav {
  margin-bottom: 16px;
}
.subpage nav a {
  text-align: right;
}
h1, p.title, p.subtitle, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
nav {
  background: #eee;
  box-shadow: 0 2px 2px #434343;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  justify-content: space-around;
}
nav li {
  display: block;
  flex: 1;
}
nav a {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #f32121;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  padding: 10px 0;
  text-align: center;
}
nav a:hover {
  background: #434343;
  color: #fff;
}

body > section:first-of-type {
  margin-top: 80px;
}
body > section {
  padding-bottom: 60px;
}
p, dl {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
section h2 {
  color: #fff;
  background: #434343;
  margin-top: 0;
  margin-bottom: 40px;
}
section:target h2 {
  background: #f32121;
}
section h3 {
  color: #f32121;
}
article h1 {
  color: #f32121;
}
section, article {
  line-height: 1.6;
}
dfn {
  font-weight: bold;
}
a {
  color: #f32121;
}
code {
  color: #f39621;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  padding: 0.1em;
}
dt {
  font-weight: bold;
}
dt a {
  text-decoration: none;
}
dd {
  margin: 0 0 30px 16px;
}
/*
- light -
shadow: #bcbcbc;
blue: #bdd5e9;
pinkish: #e9bdd5;
light brown: #e9d5bd;
pale red: #e9bdbd;
*/
footer {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  background: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 2px #bcbcbc;
}
footer p {
  max-width: 900px;
  padding: 14px 10px;
  margin: 0 auto;
  text-align: center;
}
footer a {
  color: #f32121;
  text-decoration: none;
}
footer img {
  vertical-align: -4px;
  background: white;
  border-radius: 3px;
  padding: 1px;
  box-sizing: content-box;
}
p.back {
  text-align: right;
}
p.back a {
  text-decoration: none;
}
